.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #eee;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.leftIcons,
.rightIcons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.center {
  text-align: center;
  margin-left: 5%;
}

.logo {
  font-weight:bolder;
  font-size: 150%;
  margin-bottom: 2rem;

}

.nav {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  font-size: 0.85rem;
  font-weight: 600;
}

.nav a {
  text-decoration: none;
  color: black;
}

/* Hide hamburger by default */
.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    align-items:baseline;
    margin-top: 1rem;
    gap: 1rem;
  }

  .mobileNavOpen {
    display: flex;
  }

  .logo {
    margin-bottom: 0;
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .leftIcons,
  .rightIcons {
    justify-content: center;
    margin-top: 0.5rem;
    gap: 1.5%;
  }
}
